:root {
 --favorite-color: #C22207;
 --white: #fff;
 --black: #000;
 --secondary-color: #cea10d;
}
/*Add any consistant variables*/

* {
    background-color: var(--secondary-color);
    font-family: 'Helvetica Neue', sans-serif;
    color: var(--black);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-style: solid;
    border-width: 5px;
    border-radius: 50px 50px;
    border-color: var(--favorite-color); */
}

header * {
    padding: 5px;
}
h1 {
    font-size: 8rem;
    font-weight: bolder;
    color: var(--favorite-color);
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: var(--black);
}

header img {
    border-radius: 10px;
    background-color: var(--favorite-color);
}

.header-links a {
    margin-top: 10px;
    text-decoration: none;
    font-style: italic;
    font-size: 3rem;
}

.header-links a:hover {
    color: var(--favorite-color);
    font-size: bolder;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    margin-bottom: 16px;
    /*Play with height and width to figure out how to properly display work sections*/
}
.content article {
    border-style: dotted;
    border-width: 5px;
    border-color: #C22207;
}

section {
    background-color: var(--favorite-color);
}

section a, figcaption, figure a {
    color: var(--favorite-color);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

figcaption {
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.txtover {
    position: relative;
    margin: 30px;
}

.txtover figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    
}

.txtover *:hover {
    font-weight: bold;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: var(--favorite-color);
    text-decoration: underline;
}

.content img {
    margin: 5px;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
}

#about-me p {
    color: var(--favorite-color);
    font-style: italic;
}

#about-me h2 {
    color: var(--favorite-color);
    font-weight: bold;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}
.surf-report {
    flex-grow: 2;
}

/*Play with this */

#work h2 {
    color: var(--secondary-color);
    font-style: italic;
    padding: 10px;
    background-color: var(--favorite-color);
    border-radius: 10px 10px 10px 10px ;
    margin-bottom: 10px;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: var(--favorite-color);

}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--favorite-color);
}

.resume h2 {
    background-color: var(--favorite-color);
    font-weight: bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: var(--secondary-color);
}

div {
 background-color: var(--favorite-color);
    
}
/* height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center */

footer {
    padding: 30px;
    background-color: var(--favorite-color);
}

.contact-me * {
    background-color: var(--favorite-color);
    color: var(--secondary-color);
    text-decoration: none;
}

#resume-background-image {
    height: 400px;
    width: auto;   
}

footer a:hover {
    color: var(--favorite-color);
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: var(--secondary-color);
}

footer img {
    height: 18px;
    width: 18px;
}

#contact-me p {
    background-color: var(--secondary-color);
    padding: 10px;
    color: var(--favorite-color);
}

#contact-me a {
    background-color: var(--secondary-color);
    color: var(--favorite-color);
    font-style: italic;
    font-weight: bold;
}

 /* Media Queries  
@media screen and (max-width: 326px) {
    #header {
        background-color: darkblue;
        flex-direction: row;
        flex-wrap: wrap;
    }



    #header * {
        background-color: darkblue;
    }
} */