:root {
 --favorite-color: #C22207;
 --white: #fff;
 --black: #000;
 --secondary-color: #cea10d;
 --jay-hawk-blue: #11043f;
}
/*Add any consistant variables*/

* {
    background-color: var(--secondary-color);
    font-family: 'Helvetica Neue', sans-serif;
    color: var(--black);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    /* border-style: solid;
    border-width: 5px;
    border-radius: 50px 50px;
    border-color: var(--favorite-color); */
}

header * {
    margin: 2px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: var(--favorite-color);
    width: 97%;
    text-align: center;
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 10px 5px var(--favorite-color);
    border-color: var(--favorite-color);
    margin-bottom: 16px;
}

header img {
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--favorite-color);
    width: 95%;
}

.header-links a {
    margin-top: 10px;
    text-decoration: none;
    font-style: italic;
    font-size: 1.25rem;
}

.header-links a:hover {
    color: var(--favorite-color);
    font-size: bolder;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    margin-bottom: 16px;
    /*Play with height and width to figure out how to properly display work sections*/
}
.content article {
    border-style: dotted;
    border-width: 5px;
    border-color: #C22207;
    width: 95%;
    border-radius: 50px;
}

section {
    width: 95%;
    /* border-radius: 50px; */
}

figure img {
    background-color: var(--secondary-color);
}

section a, figcaption, figure a {
    color: var(--favorite-color);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif; 
}



figcaption {
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
}



h2 {
    font-size: 2rem;
    font-style: italic;
}

h3 {
    font-size: 1rem;
}

#about-me p {
    font-family: 'Open Sans', sans-serif;
}

.txtover {
    position: relative;
    border-radius: 50px;
}

#txtover img {
    /*only the image links within work section*/
    display: block;
    width: 75%;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--favorite-color);
    margin-left: auto;
    margin-right: auto;
    transform: rotate(8deg);
    box-shadow: 10px 10px 5px var(--favorite-color);
    margin-bottom: 30px;
}

.txtover img {
    display: block;
    width:75%;
    height:100%;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--favorite-color);
    margin-left: auto;
    margin-right: auto;
}

.txtover figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
}

.txtover *:hover {
    font-weight: bold;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: var(--favorite-color);
    text-decoration: underline;
}

.content img {
    margin-bottom: 16px;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

 p {
    color: var(--favorite-color);
    font-style: italic;
    font-size: .5rem;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
}

#about-me h2 {
    color: var(--favorite-color);
    font-weight: bold;
    margin: 5px
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}

#work {
    width: 95%;
    border-radius: 50px;
}

.surf-report {
    flex-grow: 2;
}

/*Play with this */

#work h2 {
    color: var(--secondary-color);
    font-style: italic;
    padding: 10px;
    background-color: var(--favorite-color);
    border-radius: 10px 10px 10px 10px ;
    margin-bottom: 10px;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: var(--favorite-color);

}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-resume {
    border-radius: 50px;
    padding: 15px;
    background-color: var(--favorite-color);
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: var(--favorite-color);
    font-size: 25px;
    font-weight: bolder;
    color: var(--secondary-color);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

    /* 
    color: var(--secondary-color);
    font-style: italic;
    padding: 10px;
    background-color: var(--favorite-color);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: var(--favorite-color); */
}

.resume h2 {
    background-color: var(--favorite-color);
    font-weight: bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: var(--secondary-color);
}

div {
 background-color: var(--favorite-color);
    
}
/* height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center */

footer {
    background-color: var(--favorite-color);
}

div p {
    margin: 0;
}

.contact-me * {
    background-color: var(--favorite-color);
    color: var(--secondary-color);
    text-decoration: none;
}

#resume-background-image {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#resume-img figcaption {
    font-size: 1rem;
    margin-bottom: 15px;
}

footer a:hover {
    color: var(--favorite-color);
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: var(--secondary-color);
}

footer img {
    height: 18px;
    width: 18px;
}

footer h2 {
    text-align: center;
}

#contact-me p {
    background-color: var(--favorite-color);
    padding: 10px;
    color: var(--secondary-color);
}

#contact-me a {
    background-color: var(--favorite-color);
    color: var(--secondary-color);
    font-style: italic;
    font-weight: bold;
}

/* media query for screens bigger than 768px */
@media screen and (min-width: 768px) {
    * {
        background-color: var(--white);
        font-family: 'Helvetica Neue', sans-serif;
        color: var(--favorite-color);
    }
    
    header {
        /* display: flex; */
        /* flex-direction: row; */
        flex-wrap: wrap;
        /* align-items: end; */
        margin-bottom: 16px;
        background-image: url(../images/header-background-img.png);
        border-radius: none;
        border-width: 2px;
        border-style: solid;
        border-color: var(--favorite-color);

    }

    .header-links ul {
        order: 3;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        
    }


    .header-links,ul a, ul, li, h1 {
        background-color: transparent;
    }

    header img {
        order: 1;
    }

    header h1 {
        order: 2;
    }

    .header-links a {
        margin-top: 10px;
        text-decoration: none;
        font-style: normal;
        font-size: bold;
        font-size: 1.25rem;
    }
    

    .header-links a:hover {
        color: var(--secondary-color);
        font-size: bolder;
    }
    

    .header-links ul {
        display: flex;

        /* justify-content: ; */
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--favorite-color);
        text-align: center;
        border-style: none;
        box-shadow: none;
        margin-bottom: 16px;
    }

    
    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* row-gap: 16px;
        align-items: center; */
        margin-bottom: 16px;
        /*Play with height and width to figure out how to properly display work sections*/
    }

    #about-me {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }


    .work {
        display: block;
        flex-direction: row;
        /* justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-items: center; */
    }

    .section-elements {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .section-elements section {
        width: 50%;
    }

    .section-elements section:first {
        width: 100%;
        flex-grow: 1;
    }
    
    .resume {
        flex: 6;

    }
    header img {
        height: 100px;
        display: block;
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }

    #txtover img {
        /*only the image links within work section*/
        display: block;
        width: 150px;
        border-radius: 50px;
        border-style: solid;
        border-width: 5px;
        border-color: var(--favorite-color);
        margin-left: auto;
        margin-right: auto;
        transform: none;
        box-shadow: none;
        margin-bottom: 30px;
    }

    .card {
        flex: 1;
    }
  }

